{% extends 'ElZorroBankerBundle::base.html.twig' %}

{% block content %}

<h1>{{ 'Report'|trans }}</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            {% for column in report.columns %}
            <th{% if not loop.first %} class="text-right"{% endif %}>{{ column }}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for label, row in report.rows %}
        <tr>
            <th>{{ label }}</th>
            {% for category, column in row %}
            <td class="text-right">
                <a href="{{ path('el_zorro_banker_transfer_index', {month: label, category: category }) }}" class="text-{{ column.total >= 0 ? 'success' : 'danger'}}">{% spaceless %}
                {% if loop.last %}<strong>{{ column.total|number_format(2) }}</strong>{% else %}{{ column.total|number_format(2) }}{% endif %}
                {% endspaceless %}</a><br>
                <small class="text-muted">+{{ column.add|number_format(2) }} / {{ column.sub|number_format(2) }}</small>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

