<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Banker{% endblock %}</title>
        {% block metatags %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        {% block stylesheets %}{% endblock %}

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('el_zorro_banker_report') }}">{{ 'Reports'|trans }}</a></li>
                        <li><a href="{{ path('el_zorro_banker_transfer_index') }}">{{ 'Transactions'|trans }}</a></li>
                        <li><a href="{{ path('el_zorro_banker_schedule_index') }}">{{ 'Schedules'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        <script typte="text/javascript">
            $('[data-toggle="tooltip"]').tooltip();
        </script>
    </body>
</html>
